<template>
    <layout>
        <h1>Welcome</h1>
        <p>Welcome to my first Inertia.js app You are logged in as: !</p>
        {{pako}} has {{dbs}}

        <inertia-link href="/about">About</inertia-link>
    </layout>
</template>

<script>
    import Layout from '../Shared/Layout'

    export default {
        components: {
            Layout,
        },
        props: {
          message: 'PANGO!'
        },
        data() {
            return {
                pako: 'zakoula'
            }
        }
    }
</script>
