<template>
    <layout>
        <h1>REVEL</h1>
        <p>Let's party</p>
        <inertia-link href="/revel/about">About</inertia-link>
    </layout>
</template>

<script>
    import Layout from '../Shared/Layout'

    export default {
        components: {
            Layout,
        },
    }
</script>
