@import "kube/_vars.scss";
@import "kube/_mixins.scss";
@import "kube/kube";

@import "kube/modules/navbar";
@import "kube/modules/dropdown";
@import "kube/modules/grid";


#main-layout {
    @include flex;
    @include make-container;
    @include make-sidebar(10%);
    @include make-content;
    @include make-gap-offset(10%);
}

#main-layout {
      padding: $base-line-ems;
}

.is-navbar .is-active a {
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid red;
    margin-bottom: -2px;
}

.main-sidebar {
    @include make-sidebar(240px);
    margin-right: 16px;

    @include for-mobile {
        margin-right: 0;
    }
}
.main-content {
    @include make-content;
}
