<template>
    <div id="app">
        <div class="main-sidebar">
            <ul>
                @for($i = 0; $i < $dbs; $i++)
                <li>db{{$i}}</li>
                @endfor
            </ul>
        </div>
        <div class="main-content">

        </div>

    </div>
</template>

<script>
    // import CrudComponent from './Crud.vue';

    export default {
        data() {
            return {
                cruds: [],
                working: false
            }
        },
        methods: {
            create() {
            },
/*
            read() {
                this.mute = true;
                window.axios.get('/api/cruds').then(({ data }) => {
                    data.forEach(crud => {
                        this.cruds.push(new Crud(crud));
                    });
                    this.mute = false;
                });
            },
*/
            update(id, color) {
            },
            del(id) {
            }
        },
        watch: {
            mute(val) {

            }
        },
        components: {
        },
        created() {
            // this.read();
        }
    }
</script>
<style>
    #app {
        margin-left: 1em;
    }

    .heading h1 {
        margin-bottom: 0;
    }
</style>
